<style>
.container {
	border-style: solid;
    border-width: 1px;
    position: relative;
}

.progressContainer {
  width: 250px;
  border-style: solid;
  background-color: #ddd;
}

.progressBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

#playGameContainer {
	visibility: hidden;
}

table {
  border: 1px solid black;
}
</style>